@media (max-width: 768px) {
  #contact h1 {
    font-size: 2rem;
  }

  #contact h2 {
    font-size: 1.5rem;
  }

  #contact p {
    font-size: 1rem;
  }

  .contact-section {
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;
  }

  .details {
    text-align: center;
  }
}

@media (max-width: 1060) {
  #contact h1 {
    font-size: 2.5rem;
  }

  #contact h2 {
    font-size: 2rem;
  }

  #contact p {
    font-size: 1rem;
  }
}
